:root {
  --orange: #ff6545;
  --orange-light: #ff7658;

  --black: #0d0f10;
  --dark: #12181c;

  --white: #f7f5f1;
  --gray: #777777;
  --light-gray: #ebe9e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #e9e7e3;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.mobile-container {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;
  background: var(--white);
  padding: 24px;
}