:root {
  --orange: #ff6545;
  --orange-light: #ff7658;

  --black: #0d0f10;
  --dark: #12181c;

  --white: #f7f5f1;
  --gray: #777777;
  --light-gray: #ebe9e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #e9e7e3;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.mobile-container {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;
  background: var(--white);
  padding: 24px;
}


/* Welcome page */

.welcome {
  min-height: calc(100vh - 48px);
  background: var(--black);
  color: white;
  border-radius: 28px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 40px 26px 28px;

  overflow: hidden;
}

.logo {
  text-align: center;
  padding-top: 70px;
}

.logo-symbol {
  font-size: 70px;
  color: var(--orange);
  line-height: 1;
  margin-bottom: 15px;
}

.logo h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -2px;
}

.logo span {
  display: block;
  margin-top: 12px;

  font-size: 12px;
  letter-spacing: 5px;

  color: #ddd;
}

.welcome-content h2 {
  font-size: 38px;
  line-height: 1.05;
  margin-bottom: 18px;
}

.welcome-content h2 span {
  color: var(--orange);
}

.welcome-content > p {
  color: #c7c7c7;
  line-height: 1.6;
  font-size: 16px;
}

.welcome button {
  width: 100%;
  border: none;
  background: var(--orange);
  color: #111;

  margin-top: 30px;
  padding: 17px 22px;

  border-radius: 40px;

  font-size: 15px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

.welcome button span {
  font-size: 22px;
}

.signin {
  text-align: center;
  margin-top: 22px;
  font-size: 14px !important;
}

.signin span {
  color: var(--orange);
  font-weight: 600;
}